@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

//variables
$color-white: #fff;
$color-grey: #ccc;
$color-gold: #f1c40f;
$color-black: #000;
$color-blue: #74b9ff;
$color-electronblue: #0984e3;
$fonts: 'Open Sans', sans-serif;

body {
background-color: $color-blue;
color: $color-white;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	margin-top: 100px;
	h1 {
		font-size: 48px;
	}
}
.box {
	.quote {
		font-size: 28px;
	}
}
.btn {
	button {
		color: $color-white;
		background-color: #0984e3;
		border-color: #0984e3;
		width: 300px;
		height: 50px;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 50px;
	}
	.fa {
		text-decoration: none;
		background-color: #0984e3;
		font-size: 18px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 50%;
		text-align: center;
		color: $color-white;
		margin-right: 10px;
	}
	a {
		color: white;
		text-decoration: none;
	}
}



